@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: #000000;
    font-family: "Libre Franklin", sans-serif;

}
header {
    display: flex;
    justify-content: space-between;  /* Лого зліва — іконки справа */
    align-items: center;             /* Вирівнювання по вертикалі */
    padding: 10px 20px;
    background: #ff8800; 
    margin: -15px;
}

/* група іконок */
.header-icons {
    display:flex;
    gap: 100px;                      /* відступ між іконками */
}

/* розміри іконок */
header img {
    height: 50px;
    cursor: pointer;
}

.logo {
    height: 120px;
}

h1 {
    color: #A5A5A5;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 60px auto;
}

.hero {
    text-align: center;
    margin-top: 40px;
}

.king {
    height: 260px;
    display: block;
    margin: 0 auto;
}

.upper_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.how_to_do_this {
    background: #ff8800;
    color: #000;
    padding: 14px 35px;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    width: fit-content;
}

.how_to_do_this:hover {
    background: #ffa53a;
}

.how_note {
    margin-top: 10px;
    font-size: 12px;
    color: #c9c9c9;
}
